@import './markdown.css';
@import './variables.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: var(--accent);
}

.accent-color {
  color: var(--accent);
}

html.dark {
  background: #1A1F33;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--accent);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
